@font-face {
    font-family: 'good-time';
    src: url('fonts/good_times/good\ times\ rg.otf');
}
@font-face {
    font-family: 'nunito';
    src: url('fonts/Nunito/Nunito-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'inter';
    src: url('fonts/inter/Inter-VariableFont.ttf');
}