.bg-container{
    background-color: #fbfbfb;
}
.section-pt{
    padding-top: 100px;
}
/*.title-header{
    font-weight: bold;
    font-size: 18px;
}*/
@media (max-width: 599px){
    .section-pt{
        padding-top: 25px;
    }
    .content-box{
        width: 100%;
    }
}